{:deps
 {org.clojure/math.combinatorics {:mvn/version "0.1.6"}
  org.clojure/math.numeric-tower {:mvn/version "0.0.5"}
  org.clojure/tools.trace {:mvn/version "0.7.11"}}
 :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]}